.container {
  display: flex;
  justify-content: center;
  background-color: #CEE6F3;

}

button {
  background-color: #FBF8DD;
  padding: 3px;
}

.btn{
  display: inline-block;
  margin-top: 15px;
  background-color: #355C7D;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}